doctype html
html(lang=it)
	head
		link(rel="stylesheet" href="css/card.css")
		script(src="https://use.fontawesome.com/9921b3da48.js")
		title card
	body
			.container
				.containerHeader
					.field  totaleaaaaaa
					.value 200000000
				.containerBody
					p.time  
						i(class="fa fa-clock-o" aria-hidden="true")
							i 14:00:00
				.footer
					h4.serviceName OperazioniSportello
			.container
				.containerHeader
					.field
						p.field isas assas as hardwaresasdasdasdasd
					.value
						p.value 200000000000000000
				.containerBody
					p.time  
						i(class="fa fa-clock-o" aria-hidden="true")
							i 14:00:00
				.footer
					h4.serviceName OperazioniSportello