doctype html
html(lang=it)
	head
		link(rel="stylesheet" href="css/WallDisplay.css")
		//- script(src="https://use.fontawesome.com/9921b3da48.js")
		script(src="js/jquery.min.js")
		script(src="https://code.highcharts.com/highcharts.js")
		script(src="/socket.io/socket.io.js")
		script.
			var abi='#{abi_code}';
			var connection_id='#{connection_id}';
		script(src='js/optionsChartFactory.js')
		script(src='js/wallDisplay.js')
		script(src='js/wallScript.js')
		title WallDisplay
	body
		#header
			img#logo(src="img/Abiwatch01.png")
			h3(id="title")
			//- img#uc(src="img/uc.jpg" )
		#wallDisplay
		//- #footer
			//- img#logo(src="img/Abiwatch01.png")
