doctype html
html(lang=it)
	head
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="http://code.highcharts.com/highcharts.js")
		script(src="js/chart.js")
		title My first Highchart
	body
		h1 My First Chart
		#container(style="width:100%; height:400px;")

